#divGame {
 position:relative;
}
#divControls {
    float:left;
    border-style:double;
}
#divBoard {
    float:left;
    margin-left:20;
}
#tutorial {
    border: 0;
}
#title {
    text-align:center;
    font-size:36;
    font-weight:bold;
}
.inputSlider {
    position:relative;
    right:0;
}
.boxTitle{
    text-align:center;
    font-weight:bold;
    font-size:24;
}
#divControls li {
    list-style:none;
    padding:0;
    margin-top:15;
    margin-bottom:15;
}
